@import "tailwindcss";

/* Plugin de HeroUI → subir a src */
@plugin "./hero.ts";

/* Ruta nueva → ahora node_modules está en la MISMA carpeta que tailwind.css */
@source "./node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

@custom-variant dark (&:is(.dark *));
